<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<add key="localhost.User" value="http://localhost:1051/Parcial02/WebServices/User.asmx"/>
	</appSettings>
	
	<connectionStrings>
		<add name="Local" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Documents and Settings\Admin\Mis documentos\Visual Studio 2005\WebSites\Parcial02\App_Data\parcial02.mdb"/>
		<add name="Server" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\MemberSites\MemberSites_AspSpider_Info\nicolascof\database\parcial02.mdb"/>
	</connectionStrings>
	<system.web>
		<!--<pages theme="SkinFile" />-->
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
		<compilation debug="true"/>
		<!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 

		<authentication mode="Windows" />
		-->
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" defaultUrl="~/Default.aspx" protection="Validation"/>
		</authentication>
		<authorization>
			<allow users="?"/>
		</authorization>
		<!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<!-- Esta página, solo para usuarios registrados -->
	<location path="~/Validado">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>